* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Tahoma, sans-serif;
}

#sidebar {
    background-color: blue;
    height: 100%;
    width: 26%;
    position: fixed;
    padding-top: 10px;
}