/* General */

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Tahoma, sans-serif;
}

/* Nav bar */
#menu-spacer {
    padding-bottom: 0px;
}

/* Sidebar */

#sidebar {
    background-color: #363636;
    height: 100%;
    width: 23%;
    position: fixed;
    padding-top: 10px;
}

#adminDashboard {
    color: white;
    font-weight: normal;
    text-align: center;
}