/* General */

* {
    box-sizing: border-box;
}

body {
    margin:0;
    font-family: Tahoma, sans-serif;
}

/* Nav bar */
#menu-spacer {
    padding-bottom: 0px;
    border: none;
}

/* Sidebar */

#sidebar {
    background-color: #363636;
    height: 100%;
    width: 25%;
    position: fixed;
    padding-top: 10px;
}

#adminDashboard {
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: x-large;
}

#dashboardCatagories {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 15px;
}

#dashboardCatagories button {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    background-color: #363636;
    border: none;
    cursor: pointer;
}

#dashboardCatagories button:hover {
    color: blue;
}

#dashboardCatagories i {
    padding-right: 20px;
}

/* Section */
#adminSection {
    display: flex;
    justify-content: space-between;
    margin-left: 25%;
    padding-left: 40px;
}

#adminSection h1 {
    font-weight: normal;
}