/* Setting up the page - remove default padding/margin */
html {
    height: 100%;
    margin: 0;
    font-family: "Tahoma", sans-serif;
}

/* Header container */
header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
}

/* text of home logo on top left */
#home-btn {
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
    color: blue;
}

/* styles for links - removes underlines and makes them black */
.link-black {
    text-decoration: none;
    color: black;
}
.link-black:visited {
    text-decoration: none;
    color: black;
}

/* styling container around buttons on top right */
.top-right-menu {
    float: right;

    /* align two buttons side by side */
    display: flex;
    justify-content: space-between;

    width: 25%; /* to provide space between buttons */
    padding-top: 0px; /* adds additional padding on top to align buttons properly */
}

/* menu btn refers to log in/sign up, home/user profile buttons */
.menu-btn {
    font-family: "Tahoma";
    font-size: 20px;
}

/* push link towards bottom a little bit to align with logo and other button */
.menu-div {
    padding-top: 10px;
}

.menu-btn:hover {
    color: blue;
}

