.sections {
    float: left;
    width: 50%;
    padding: 0px;
    height: 630px;
}

div.picture1 {
    width:100%;
    height:96.7%;
    background-image:url('pic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    margin-left:70px;
    padding:10px;
    border: 2px solid black;
    border-right: none;
}

.signUp {
    text-align: center;
}

*{
    box-sizing: border-box;
    font-family: tahoma, arial, sans-serif;
}

html {
    background: lightblue;
}

.SignUpRectSection {

    margin-right: 70px;
    border: 2px solid black;
    background: white;
    padding: 20px;
    height:610px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    text-align: center;
    border-left: none;
}

h1 {
    border-bottom: 2px solid black;
    margin-left: 350px;
    margin-right: 350px;

}

.arrow1{
    position: relative;
    top: 35px;
    left: -140px;
}

.fa-facebook-f {
    position: relative;
    transform: scale(2,2);
    left: -40px;
    top: 20px;
    background: #3B5998;
    color: white;
    width: 38px;
    height: 18px;
    border-radius: 5px;
}

.fa-twitter {
    position: relative;
    transform: scale(2,2);
    left: 40px;
    background: #55ACEE;
    color: white;
    width: 38px;
    height: 18px;
    border-radius: 5px;
}

.socialMedia{
    position: relative;
    top: 40px;
}

#name,#name1,#name2,#name3 {
    border-bottom: 2px solid rgb(173, 173, 173);
    display: block;
    margin: auto;
    width: 50%;
    position: relative;
    top: -2px;
}

#name:focus {
    border-bottom: 2px solid #0596fc;
}

#name1:focus {
    border-bottom: 2px solid #0596fc;
}

#name2:focus {
    border-bottom: 2px solid #0596fc;
}

#name3:focus {
    border-bottom: 2px solid #0596fc;
}

div.inputs input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
}

div#emailInput{
    position: relative;
    top: -32px;
}

div#passwordInput{
    position: relative;
    top: -15px;
}

::placeholder{
    font-size: 16px;
}


.UserDetails{
    position: relative;
    top: 150px;
}

input[type="submit"]{
    width: 50%;
    height: 50px;
    background: #0596fc;
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    top: 20px;
    font-size: 20px;

}

input[type="submit"]:hover{
    background: #1871ed;
    transition: 1s;
}

div.AlreadyAccount{
    position: relative;
    top: 40px;
}

span.or{
    position: relative;
    top: -40px;
    font-size: 20px;
}

.googleBtn {
    width: 50%;
    height: 35px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
    font-size: 18px;
    background-color: #dd4b39;
    color: white;
    text-align: center;
    text-decoration: none;
}

.googleBtn:hover{
    background: #cc3300;
}

.fa-google{
    padding-right: 10px;
    transform: scale(1.25,1.25);
    position: relative;
    top: 2px;

}

span.socMed{
    position: relative;
    top: 15px;
    left: 5px;
    font-size: 20px;
}

input:focus{
    outline: none;
}

input:focus::placeholder{
    color: transparent;
}

div.inputs:focus{
    border-bottom: 5px solid blue;
}

.inputfields2{
    position: relative;
    top: 65px;
}

#lnInput{
    position: relative;
    top:17px;
}