.LoginToCont {
    text-align: center;
}

.RectSection {
    /* border: 2px solid black; */
    margin-left: 400px;
    margin-right: 400px;
    margin:auto;
    padding: 20px;
    height: 550px;
    border-radius: 3px;
    text-align: center;
}

.socialMedia{
    position: relative;
    /* top: 10px; */
}

#name,#name1 {
    /* border: 1px solid #95a5a6; Grey border */
    border-bottom: 1px solid grey; /* Grey border */
    padding: 20px; /* adds space inside text field */
    margin: auto;
    width: 30%;
    position: relative;
    border-radius: 9px; /* rounded borders  */
    box-sizing: border-box; /* padding and width are included in total width/height and stays in place */
    top: -2px;
}

/* #name:focus {
    border-bottom: 2px solid blue;
}

#name1:focus {
    border-bottom: 2px solid blue;
} */

div.inputs input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 16px;
}

::placeholder{
    font-size: 16px;
}

.UserDetails{
    position: relative;
    margin-top: 30px;
}

/* div.NoAccount{
    position: relative;
    color: grey;
    /* top: 20px; */
/* } */

a:link.NoAccount{
    color:grey;
}

a:visited.NoAccount {
    color: grey;
  }
a:hover.NoAccount {
    color: #a9a9a9;
}

span.or{
    /* position: relative; */
    top: -50px;
    font-size: 20px;
    font-weight:bold;
}

.g-signin2 {
    display: inline-block;
}

.googleBtn:hover{
    background: #cc3300;
}

/* .fa-google{
    padding-right: 10px;
    transform: scale(1.25,1.25);
    position: relative;
    top: 2px;

} */

/* span.socMed{
    position: relative;
    top: 15px;
    left: 5px;
    font-size: 20px;
} */

/* input:focus{
    outline: none;
}

input:focus::placeholder{
    color: transparent;
}

div.inputs:focus{
    border-bottom: 5px solid blue;
} */
