<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2dc2f1fbdb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/admin-dashboard.css" />
    <link rel="stylesheet" href="stylesheets/settings.css"> <!--link to get specific elements for settings pages-->
    <link rel="stylesheet" href="stylesheets/header.css"> <!--link to get header format-->
    <link rel="stylesheet" href="stylesheets/buttons.css"> <!--link to get buttons format-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/admin-dashboard-vue.js" defer></script>
    <title>Admin Dashboard</title>
</head>
<body>
        <!--Header contains logo on top left, link to user dashboard and profile picture on top right-->
        <header>
            <!--Logo/website name-->
            <div>
                <a href="index.html" id="home-btn" class="link-black" title="Home">EventCal</a>
            </div>
            <!--container for links to Home and Profile settings-->
            <div class="top-right-menu">
                <div class="menu-div">
                    <a href="/Dashboard.html" class="link-black menu-btn">Home</a>
                </div>
                <div class="settings-dropdown">
                    <button type="button" class="blue-btn">Profile
                        <i class="fa fa-caret-down"></i> <!-- shows dropdown icon -->
                    </button>

                    <!-- settings to be shown from dropdown menu -->
                    <div class="settings">
                        <a href="user-account.html" class="link-black">Account Settings</a>
                        <a href="email-settings.html" class="link-black">Email Settings</a>
                    </div>
                </div>
            </div>
        </header>

        <hr id="menu-spacer"  />
        <div id="vueBody">

        <!-- Sidebar -->
        <div id="sidebar">
            <h1 id="adminDashboard"> Admin Dashboard </h1>
            <hr />
            <div id="dashboardCatagories">
                <button v-on:click="toggleUsers()"><i class="fa-solid fa-user"></i>Users</button>
                <button v-on:click="toggleEvents()"><i class="fa-solid fa-flag"></i>Events</button>
            </div>
        </div>

        <!-- Section Information -->
        <div id="adminSection">
            <h1 v-if="showUsers"> Users </h1>
            <h1 v-if="showEvents"> Events </h1>

            <!-- <div id="searchField">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="adminDashboardSearch" name="search" placeholder="Search... ">
            </div> -->

        </div>

        <!-- Insert Into Section -->
        <template>
            <div class="insertSection" v-if="showUsers">
                <button v-on:click="insertUser();" id="add" class="blue-btn"><i class="fa-solid fa-plus"></i> Add User</button>
                <input type="text" name="firstName" placeholder="First Name"></input>
                <input type="text" name="lastName" placeholder="Last Name"></input>
                <input type="text" name="email" placeholder="Email"></input>
                <input type="password" name="password" placeholder="Password"></input>
            </div>
            <div class="insertSection addEvents" v-if="showEvents">
                <button class="blue-btn"><i class="fa-solid fa-plus"></i> Add Event</button>
                <input type="text" name="eventName" placeholder="Event Name"></input>
                <input type="text" name="StreetNumber" placeholder="Street Number"></input>
                <input type="text" name="Street" placeholder="Street"></input>
                <input type="text" name="Suburb" placeholder="Suburb"></input>
                <input type="text" name="State" placeholder="State"></input>
                <input type="text" name="Postcode" placeholder="Postcode"></input>
                <input type="text" name="Country" placeholder="Country"></input>
                <input type="text" name="CreatorID" placeholder="CreatorID"></input>
            </div>
        </template>

        <hr />

        <!-- Table containing Data  -->
        <table :class="{ eventsTable : showEvents }">
            <template> <!-- Users/Events Top Row -->
            <tr v-if="showUsers">
                <th> userID </th>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
                <th> Password </th>
            </tr>
            <tr v-if="showEvents">
                <th> eventID </th>
                <th> eventName </th>
                <th> Date </th>
                <th> Street # </th>
                <th> Street </th>
                <th> Suburb </th>
                <th> State </th>
                <th> Post Code </th>
                <th> Country </th>
                <th> Creator </th>
            </tr>
            </template>
            <template> <!-- Filling out table depending on whether users, events -->
                    <!-- Users Table Data -->
                    <tr v-for="user in users" v-if="showUsers">
                        <td>  {{ user.USERID }} </td>
                        <td>  {{ user.FIRST_NAME }} </td>
                        <td>  {{ user.LAST_NAME }} </td>
                        <td>  {{ user.EMAIL }} </td>
                        <td>  {{ user.PASSWORD }} </td>
                    </tr>
                    <!-- Events Table Data -->
                    <tr v-for="event in events" v-if="showEvents">
                        <td> {{ event.EVENTID }} </td>
                        <td> {{ event.EVENTNAME }} </td>
                        <td> {{ event.DATE }} </td>
                        <td> {{ event.STREET_NO }} </td>
                        <td> {{ event.STREET }} </td>
                        <td> {{ event.SUBURB }} </td>
                        <td> {{ event.STATE }} </td>
                        <td> {{ event.POST_CODE }} </td>
                        <td> {{ event.COUNTRY }} </td>
                        <td> {{ event.USERID }} </td>
                    </tr>
            </template>

        </table>

    </div> <!-- VUE BODY DIV -->

</body>
</html>