<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2dc2f1fbdb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/Dashboard.css" />
    <link rel="stylesheet" href="stylesheets/settings.css"> <!--link to get specific elements for settings pages-->
    <link rel="stylesheet" href="stylesheets/header.css"> <!--link to get header format-->
    <link rel="stylesheet" href="stylesheets/buttons.css"> <!--link to get buttons format-->
    <script src="/javascripts/dashboard.js"></script>
    <script src="/javascripts/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="javascripts/Dashboard-vue.js" defer></script>
</head>
<header>

            <!--Logo/website name-->
        <div>
                <a href="index.html" id="home-btn" class="link-black" title="Home">EventCal</a>
            </div>

            <!--container for links to Home and Profile settings-->
            <div class="top-right-menu">
                <!-- sign out link -->
                <div class="menu-div" >
                    <a onclick="signOut();" class="link-black menu-btn">Sign out</a>
                </div>

                <div class="settings-dropdown">
                    <button type="button" class="blue-btn">Profile
                        <i class="fa fa-caret-down"></i> <!-- shows dropdown icon -->
                    </button>

                    <!-- settings to be shown from dropdown menu -->
                    <div class="settings">
                        <a href="user-account.html" class="link-black">Account Settings</a>
                        <a href="email-settings.html" class="link-black">Email Settings</a>
                    </div>

                </div>
            </div>
        </header>
        <hr />
<body>
        <!-- Page content -->
<div class="content" id="vueBody">
    <!-- ADMIN DASHBOARD LINK (only shows if loggined in user is an admin ) -->
    <template>
        {{ checkAdminHelper() }}
        <a href="admin-dashboard.html" v-if="isAdmin"> Go to Admin Dashboard </a>
    </template>
    <h1> Dashboard </h1>

    <!-- Create & Join Event Buttons -->
    <div class="buttons">
        <button type="button" id="GreyButton" type="button" onclick="window.location.href='/add_event.html'"><i class="fa-solid fa-plus"></i> Create Event </button>
        <button type="button" id="GreyButton" type="button" onclick="showEventSearch()"><i class="fa-solid fa-link"></i> Join Event </button>
    </div>

    <!--The popup join event container-->
    <div class="popup" id="event-container">

        <!--popup content-->
        <form class="popup-content">

            <!--ask user to enter event ID-->
            <h3>Join an Event</h3>
            <label for="join-event">Enter Event ID</label><br />
            <input type="text" id="eventID" name="eventID"><br><br>

            <!--container for cancel and save buttons-->
            <div class="cancel-save">
                <button type="button" class="white-btn" onclick="hidePopup()">Cancel</button><br><br>
                <button type="button" class="small-blue-btn" onclick="getEvent();">Search event<br><br>
            </div>
        </form>

    </div>

    <!-- The dashboard itself-->
    <div class="dashboard">
        <div class="ongoing">
            <h2>Ongoing Events</h2>
        </div>

        <!-- Events container -->
        <div id="eventsSection">

            <div id="searchField">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" id="dashboardSearch" name="search" placeholder="Find an event">
                <i class="fa-solid fa-filter" v-on:click="showFilter = !showFilter"></i>
            </div>

            <!-- Expandable filter section -->
            <template>
                <div v-if="showFilter" id="filterSection">
                    <button id="GreyButton">By Date </button>
                    <button id="GreyButton">By Name </button>
                </div>
            </template>
            <br><br>
            <!-- Individual Events -->
            <div id="events">
                <template>
                    {{ populateCaller() }}
                    <div class="event" v-for="item in events">
                        <div class="dateTime">
                            <p class="date"><i class="fa-solid fa-calendar"></i> {{ item.DATE }} </p>
                            <p class="time"><i class="fa-solid fa-clock"></i> {{ item.START_TIME }} </p>
                        </div>
                        <div class="nameLocale">
                            <h3 class="eventName"><a style="color: black;" :href="'show_event.html?eventCode='+item.EVENTID"> {{ item.EVENTNAME }} </a></h3>
                            <p class="eventLocation"> <i class="fa-solid fa-location-pin"></i> {{item.STREETNO}} {{item.STREET}}, {{ item.SUBURB }} </p>
                        </div>
                    </div>
                </template>
            </div>

            <!-- View More Button -->
            <p id="viewMore"><a href="Dashboard.html"> View More <i class="fa-solid fa-caret-down"></i></a></p>
        </div>
    </div>
</div>
</body>

    <script>
        // close pop up event container whenever user clicks outside it
        var container = document.getElementById("event-container");
        window.onclick = function(event) {
            if (event.target == container) {
                container.style.display = "none";
            }
        };
    </script>
</html>